<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/vue-resource.js"></script>
<script src="../../static/js/log/list.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div class="row" id="list">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-1"><label>DeviceId</label></div>
            <div class="col-md-2">
                <input class="form-control" v-model="logForm.deviceId" name="deviceId"/>
            </div>
            <div class="col-md-1"><label>channel</label></div>
            <div class="col-md-2">
                <input class="form-control" v-model="logForm.channel" name="channel"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-1"><label>开始时间</label></div>
            <div class="col-md-2">

                <input class="form-control" v-model="logForm.beginTime" name="beginTime"/>
            </div>
            <div class="col-md-1"><label>结束时间</label></div>
            <div class="col-md-2">
                <input class="form-control" v-model="logForm.endTime" name="endTime"/>

            </div>
            <div class="col-md-1">
                <input type="button" @click="search" value="查询">
            </div>
        </div>

    </div>
    <br>
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <td>id</td>
                <td>设备号</td>
                <td>渠道</td>
                <td>日志内容呢</td>
            </tr>
            <tr v-cloak v-for="(item, index) of resultList">
                <td>{{index+1}}</td>
                <td>{{item.deviceId}}</td>
                <td>{{item.channel}}</td>
                <td>{{item.logInfo}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>