<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.min.js"></script>
<script src="../../js/vue-resource.js"></script>
<script src="../../static/js/tools/tools.js"></script>
<body>

<div id="app">
        <select v-on:change="indexSelect" v-model="selected">
            <option v-for="item in items" v-bind:value="item.value">{{item}}</option>
        </select>

        <input type="button" @click="nowTimeStamp" value="查询">
</div>

</body>
</html>