<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="../static/ico/favicon.ico">
</head>
<script src="../js/vue.min.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue-resource.js"></script>
<body>

<div id="select_div">
    <p>{{ message }}</p>
    <input class="text" v-model="timeStamp.time" name="time">
    <select v-model="seletimeStamp.mode">
        <option v-for="item of items" value="{{item.value}}}">{{item.text}}</option>
    </select>
    <input type="button" placeholder="北京时间" @click(timestamp)>
</div>


<script>
   var timeStamp = new Vue({
       el : '#select_div',
       data : {
           items:[
               {text:"秒",value:"1"},
               {text:"毫秒",value:"2"},
           ],
           message: '123',
           seletimeStamp: {},
           methods:{

           }
       }
   })
</script>
</body>

</html>